@import "../../variables";

.citation {
  border-bottom: 1px dotted black;
}

.tooltip {
  text-align: left;
  max-width: calc(min(90%, 30em));
}

.csl-entry {
  text-align: left;
  padding-left: $text-indent;
  text-indent: calc($text-indent * (-1));
  position: absolute;
  visibility: hidden;
}

.csl-entry-visible {
  position: relative;
  visibility: visible;
}
