#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 90%;

  .divider {
    width: 80%;
    height: 0;
    border: none;
    border-top: 1px dotted #e0e0e0;
    margin-bottom: 30px;
  }

  .trivia{
    margin-top: 1em;
  }
}
